[*.{cs,vb}]

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = never

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
